.about-us-section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.about-us-header {
    font-family: var(--primary-page-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
    padding-bottom: 10px;
}

.about-us-description {
    font-family: var(--primary-page-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: #757575;
}

.about-us-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

.about-us-container {
    width: 270px;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.about-us-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--gray-bg);
    border-radius: 4px;
}