.what-we-do-section {
    padding-bottom: 94px;
}

.what-we-do-list {
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
}

.img-description {
    font-family: var(--primary-page-font);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-top: 27px;
    padding-bottom: 27px;

    color: #FFFFFF;
}

.what-we-do-img {
    position: relative;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.img-bg {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(47, 48, 58, 0.8);
}