.logo {
    font-family: var(--logo-font);
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.header__logo {
    color: #000000;
    margin-right: 94px;
}

.logo__web {
    color: var(--accent-color);
}

.footer__logo {
    color: #ffffff;
}